<% post = data.data %>
<% user = data.user %>
<% isAuthor = user._id.toString() === post.author._id.toString() %>

<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main id="post">
    <section>
        <%- include('components/error') -%>
        <div class="post-wrapper">
            <div class="post-header">
                <div class="post-header flexBox spaceBetween alignCenter">
                    <h2 id="post-headline"><%- post.headline %></h2>
                    <% if (isAuthor) { %>
                        <div class="admin-actions">
                            <a href="#" class="mr-1" action-type="update">update</a>
                            <a href="#" action-type="delete" post-id="<%- post._id.toString() %>">delete</a>
                        </div>
                    <% } %>
                </div>
            </div>
            <p id="post-body"><%- post.body %></p>
            <%- include('components/like', { type: 'post', entity: post }) %>
            <% if (isAuthor) { %>
                <div class="update-form hide">
                    <%- include('components/form-post') -%>
                </div>
            <% } %>
        </div>
        <hr>
        <div class="comments-wrapper">
            <h3>Comments</h3>
            <div class="default-comment-form">
                <%- include('components/form-comment') -%>
            </div>
            <div class="user-comments">
                <% for (let comment of post.comments) {%>
                    <%- include('components/comment', { comment: comment, user: user }) -%>
                <% } %>
            </div>
        </div>
    </section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>

<script src="/js/post.js" type="module"></script>
<script src="/js/comment.js" type="module"></script>